@page "/my-reservation"
@layout MainLayout
@inherits AirlineReservationSystems.Pages.MyReservationComponent

@using Radzen
@using Radzen.Blazor
@using AirlineReservationSystems.Models.AirlineReservationSystemsDb
@using Microsoft.AspNetCore.Identity;
@using AirlineReservationSystems.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Administrator, Klient")]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="MyReservation">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getReservationsResult" FilterMode="FilterMode.Simple" TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation">
          <Columns>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="NoPlaces" Title="No Places">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" FilterProperty="Flight.Id" Property="FlightId" SortProperty="Flight.Id" Title="Flight">
              <Template Context="data">
              @(data.Flight?.Id)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="Name" Title="Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" FormatString="{0:d}" Property="Flight.Date" Title="Flight Date">
              <Template Context="data">
              @(data.Flight?.Date)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="Flight.NoFlight" Title="Flight No">
              <Template Context="data">
              @(data.Flight?.NoFlight)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="Flight.Airport.Name" Title="Airport">
              <Template Context="data">
              @(data.Flight?.Airport.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Property="Flight.Airport1.Name" Title="Airport1">
              <Template Context="data">
              @(data.Flight?.Airport1.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="AirlineReservationSystems.Models.AirlineReservationSystemsDb.Reservation" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="airlineReservationSystemsModelsAirlineReservationSystemsDbReservation">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Disabled="@((DateTime.Now - airlineReservationSystemsModelsAirlineReservationSystemsDbReservation.Flight.Date).Days < 6 ? true : false)" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, airlineReservationSystemsModelsAirlineReservationSystemsDbReservation))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
